<?xml version="1.0"?>
<launch>

  <arg name="map_width" default="11" />
  <arg name="map_height" default="11" />

	<!-- TODO add any calls to your code -->
  <node name="door_opener_node" pkg="simple_control" type="door_opener.py" output="screen">
    </node>


  <node name="update_map_node" pkg="simple_control" type="update_map.py" output="screen" required="True">
    <param name="map_width" type="int" value="$(arg map_width)" />
    <param name="map_height" type="int" value="$(arg map_height)" />
  </node>

</launch>